body {
    margin: 0px;
    padding: 0px;
    display: flex;
    cursor: grab;
    background-color: #f1f8ff;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    justify-content: center;
}

.meme-container {
    display: flex;
    justify-content: center;
    width: 100%
}

/* .meme-canvas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 100px);
} */


@media screen and (max-width: 500px) {
    .meme-canvas {
        width: 80vw;
    }
}