/* MOBILE ONLY */


@media (max-width: 550px) {

    /* MOBILE ONLY GALLERY*/


    .gallery-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(9, 1fr);
    }


    .gallery-image:hover {
        transition: all ease 0.5s;
        opacity: 0.5;
    }

    body.menu-opened .main-nav {
        box-shadow: 0px 20px 17px rgb(255 255 255 / 90%);
        transform: translateY(75%);
    }


    .main-header {
        height: 70px;
        padding: 0 12px;
    }

    .container {
        display: inline-block;
        cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: var(--clr1);
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

    .main-nav {
        position: fixed;
        max-height: 100vh;
        flex-direction: column;
        width: 100%;
        z-index: 2;
        transition: transform .6s, box-shadow .6s;
        transform: translateY(-100%);
        flex: 1;
    }

    .nav-list {
        display: flex;
        justify-content: center;
        padding: 20px;
        border: none;
        cursor: pointer;
        font-size: 1em;
        font-weight: 700;
        text-align: center;
        color: var(--clr2);
        background-color: white;
        flex: 1;
    }


    .btn-gallery {
        border: none;
    }

    .btn-im-flexible {
        border: none;
        cursor: auto;
    }



    /* MOBILE ONLY modal */

    .modal-body {
        margin: 0;
        width: 100%;
        position: fixed;
        background-color: var(--clr1);
        padding: 10px;
        top: -150%;
        height: 100%;
        flex: 1;
    }

    .modal-body.open {
        top: 14%;
        transition: top .5s;
    }

    .modal-container {
        position: relative;
        display: flex;
        background-color: rgb(209, 207, 207);
        border: none;
        border-radius: 0;
        padding: 20px;
    }

    .modal-content {
        min-height: 100%;
        text-align: center;
        flex: 1;
        align-items: center;
        flex-direction: column;
    }

    .canvas-container {
        width: 10%;
    }

    .meme-col {
        flex: 1;
        align-items: center;
        flex-direction: column;
        border-radius: 1em;
        padding: 0;
    }

    .row {
        display: flex;
        width: 65%;
        flex-direction: column;
        justify-content: center;
    }

    input {
        border: black solid;
        border-radius: 0.75em;
        text-align: start;
        padding: 10px;
    }

    .text-input {
        flex-direction: column;
        width: 100%;
    }

    button.btn {
        border: none;
        border-radius: 1em;
        margin-left: 0.2em;
        ;
        margin-right: 0.2em;
        ;
    }

    .btn-meme {
        background-color: #fe6e20;
        box-shadow: inset -1px 3px 8px 5px #fb9623, 2px 5px 16px 0px #0b325e00, 5px 5px 15px 5px rgb(0 0 0 / 0%);
        font-weight: 600;
        border-radius: 20px;
        border: black solid;
        font-size: 1.1rem;
        padding: 0.7em;
        cursor: pointer;
    }

    section.row {
        display: flex;
        flex: 1;
    }

    .margin {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    div.btn-row1 {
        display: flex;
        justify-content: center;
        margin-top: 1em;
        margin-bottom: 1em;
        flex: 1;
    }

    .user-msg {
        color: black;
        text-decoration: none;
    }

    .link {
        color: black;
        text-decoration: none;
        background-color: #fe6e20;
        box-shadow: inset -1px 3px 8px 5px #fb9623, 2px 5px 16px 0px #0b325e00, 5px 5px 15px 5px rgb(0 0 0 / 0%);
        font-weight: 600;
        border-radius: 20px;
        border: black solid;
        font-size: 1.1rem;
        padding: 0.7em;
        cursor: pointer;
    }

    .close-modal {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 75px;
        height: 75px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-size: x-large;
        font-weight: 800;
        transition: top .9s;
    }

}