/* LARGE */

@media (min-width: 1060px) {

    html {
        font-size: 1rem;
    }

    /* LARGE header */

    .main-header {
        height: 70px;
    }

    .container {
        display: none;
    }

    .main-nav {
        height: 8.25rem;
    }

    .nav-list {
        cursor: pointer;
        font-size: 18px;
        text-align: center;
        color: var(--clr4);
    }

    .nav-list:hover {
        color: var(--clr4);
    }

    .btn-gallery {
        border: none;
    }

    .btn-im-flexible {
        border: none;
        cursor: auto;
    }

    .im-flexible {
        background-color: #fe6e20;
        box-shadow: inset -1px 3px 8px 5px #fb9623, 2px 5px 16px 0px #0b325e00, 5px 5px 15px 5px rgb(0 0 0 / 0%);
        font-weight: 600;
        border-radius: 20px;
        border: black solid;
        font-size: 1.1rem;
        padding: 0.7em;
        cursor: pointer;
        color: black;
    }


    /* LARGE modal */

    .modal-body {
        margin: 0;
        width: 90%;
        left: 70px;

        background-color: var(--clr1);
        padding: 10px;
        position: fixed;
        top: -150%;
        height: 80vh;
        flex: 1;
    }

    .modal-body.open {
        top: 14%;
        transition: top .5s;
    }

    .modal-container {
        position: relative;
        display: flex;
        flex: 1;
        background-color: rgb(209, 207, 207);
        min-height: 100%;
        border: none;
        border-radius: 0;
        padding: 20px;
    }

    .modal-content {
        min-height: 100%;
        text-align: center;
        flex: 1;
        flex-direction: row;
    }

    .canvas-container {
        width: 50%;
    }

    .meme-col {
        flex: 1;
        align-items: center;
        flex-direction: column;
        border-radius: 1em;
        padding: 0;
    }

    .row {
        display: flex;
        width: 65%;
        flex-direction: column;
        justify-content: center;
    }

    input {
        margin-top: 20px;
        border: none;
        border-radius: 0.75em;
        text-align: start;
        padding: 20px;
    }

    .text-input {
        flex-direction: column;
        width: 100%;
    }

    button.btn {
        border: none;
        border-radius: 1em;
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    .btn-color {
        position: relative;
    }

    .btn-meme {
        background-color: #fe6e20;
        box-shadow: inset -1px 3px 8px 5px #fb9623, 2px 5px 16px 0px #0b325e00, 5px 5px 15px 5px rgb(0 0 0 / 0%);
        font-weight: 600;
        border-radius: 20px;
        border: black solid;
        font-size: 1.1rem;
        padding: 0.7em;
        cursor: pointer;
    }

    section.row {
        display: flex;
        flex: 1;
    }

    .margin {
        margin-left: 0.5em;
        margin-right: 0.5em;
    }

    div.btn-row1 {
        display: flex;
        justify-content: center;
        margin-top: 1em;
        margin-bottom: 1em;
        flex: 1;
    }


    .user-msg {
        color: black;
        text-decoration: none;
    }

    .link {
        color: black;
        text-decoration: none;
        background-color: #fe6e20;
        box-shadow: inset -1px 3px 8px 5px #fb9623, 2px 5px 16px 0px #0b325e00, 5px 5px 15px 5px rgb(0 0 0 / 0%);
        font-weight: 600;
        border-radius: 20px;
        border: black solid;
        font-size: 1.1rem;
        padding: 0.7em;
        cursor: pointer;
    }

    .close-modal {
        position: absolute;
        top: 0px;
        right: 0px;
        width: 75px;
        height: 75px;
        cursor: pointer;
        background-color: transparent;
        border: none;
        font-size: x-large;
        font-weight: 800;
        transition: top .9s;
    }

    .sticker {
        display: none;
    }

    .smiley {
        vertical-align: middle;
        width: 40px;
    }

    /* Slideshow container */
    .sticker-container {
        width: 50%;
        background-color: white;
        height: 60px;
        border-radius: 1em;
        margin-bottom: 20px;
        margin: auto;
        justify-content: space-between;
        align-items: center;
    }

    /* Next & previous buttons */
    .prev,
    .next {
        cursor: pointer;
        top: 50%;
        width: auto;
        padding: 16px;
        color: black;
        font-weight: bold;
        font-size: 18px;
        transition: 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        background-color: transparent;
    }

    /* Position the "next button" to the right */
    .next {
        right: 0;
        border-radius: 3px 0 0 3px;
    }

}