/* MOBILE ONLY */

@media (max-width: 900px) {

    .modal-content {
        flex-direction: column;
    }

    .meme-col {
        padding-inline-end: 1.875rem;
        padding-inline-start: 1.875rem;
    }

    body.menu-opened .main-nav {
        box-shadow: 0px 20px 17px rgb(255 255 255 / 90%);
        transform: translateX(0);
    }

    .main-nav {
        position: fixed;
        max-height: 100vh;
        flex-direction: column;
        width: 100%;
        top: 100px;
        right: 0;
        z-index: 7;
        transition: transform .6s, box-shadow .6s;
        transform: translateX(100%)
    }

    .nav-list {
        padding: 20px;
        border: none;
        cursor: pointer;
        font-weight: 700;
        text-align: center;
        color: var(--clr2);
    }


    /* NAV BAR MENU*/

    .container {
        display: inline-block;
        cursor: pointer;
    }

    .bar1,
    .bar2,
    .bar3 {
        width: 35px;
        height: 5px;
        background-color: var(--clr4);
        margin: 6px 0;
        transition: 0.4s;
    }

    .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(-9px, 6px);
        transform: rotate(-45deg) translate(-9px, 6px);
    }

    .change .bar2 {
        opacity: 0;
    }

    .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-8px, -8px);
        transform: rotate(45deg) translate(-8px, -8px);
    }

}


/* SMALL */

@media (min-width: 740px) {

}

/* MEDIUM */

@media (min-width: 900px) {

    html {
        font-size: 14px;
    }

    .container {
        display: none;
    }

    .main-nav {
        height: 8.25rem;
    }

    .nav-list {
        width: 8.25rem;
        height: 8.25rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: x-large;
        text-align: center;
        color: var(--clr4);
    }

    .modal-content {
        flex-direction: row;
    }

    .meme-canvas {
        width: 50%;
        align-self: flex-start;
    }

    .meme-col {
        margin: 0;
        flex-direction: column;
        overflow-x: hidden;
    }


}

/* LARGE */

@media (min-width: 1060px) {

    html {
        font-size: 16px;
    }

    .main-header {
        min-height: 130px;
    }

    .container {
        display: none;
    }

    .main-nav {
        height: 8.25rem;
    }

    .nav-list {
        width: 8.25rem;
        height: 8.25rem;
        background-color: transparent;
        border: none;
        cursor: pointer;
        font-size: x-large;
        text-align: center;
        color: var(--clr4);
    }


    .nav-list:hover {
        color: var(--clr4);
    }

    .modal-content {
        flex-direction: row;
    }

    .meme-col {
        flex-direction: column;
        margin-top: auto;
        margin-bottom: auto;
        padding-inline-end: 1.875rem;
        width: 280px;
    }

    input {
        height: 40px;
        border: none;
    }

    button{
        margin-bottom:  5px;
        border: none;
    }

    .meme-canvas {
        width: 50%;
        margin-top: auto;
        margin-bottom: auto;
    }


    /*footer */

    .line {
        justify-content: center;
        align-items: center;
    }

}