.modal-body {
    max-width: none;
    margin: 0;
    width: 100%;

    background-color: var(--clr1);
    padding: 10px;
    position: fixed;
    top: -150%;
    height: 80vh;
}

.modal-body.open {
    top: 14%;
    transition: top .5s;
}

.modal-container {
    background-color: rgb(209, 207, 207);
    min-height: 100%;
    border: none;
    border-radius: 0;
    flex: 1; 
}

.modal-content {
    min-height: 100%;
    text-align: center;

}

.canvas-container {
   margin: 0;
   min-width: 1000px;
}

.meme-col>*:not(.meme-btn) {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.meme-btn {
    position: relative;
    color: var(--clr5);
    font-weight: 700;
    border: 0.125rem solid #c2c2c2;
    padding: 0.75em 1.5625em;
    letter-spacing: var(--normal-letter-spacing);
    background-color: #ffffff;
    cursor: pointer;
    border-radius: 2em;
    font-size: 1em;
    transition: padding 0.4s;
}

.meme-btn:hover::after {
    content: "→";
    position: absolute;
}

.meme-btn:hover {
    color: var(--clr3);
    border-color: var(--clr3);
    padding-inline-end: 2.6em;
}

.close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    font-size: x-large;
    font-weight: 800;
    transition: top .9s;
}
