
/* footer */
footer {
    flex-direction: column;
    box-shadow: inset 0 1px 0 #e1e0e0;
    background-color: #f8f8f8;
    height: 150px;
}

.main-footer-container {
    flex: 1;
}

.logo-footer{
    width: 30%;
    padding: 1em;
}

.footer-logo {
    color: black;
}

.copy-rights {
    color: #a6a6a6;
    font-size: 0.81em;
}


.btn {
    cursor: pointer;
    border: none;
    height: 40px;
    width: 40px;
    background-color: #e5e5e5;
}

