.main-header {
    width: 100%;
    height: 70px;
    background-color: #ff7f00;;
}

.main-header-container {
    width: 100%;
    padding: 12px;
}

.logo {
    font-family: lato;
    font-size: 2.5em;
    color: var(--clr4);
    letter-spacing: normal;
    font-weight: 500;
}

.memegen {
    width: 30%;
    min-width: 200px;
}

.logo-img{
    width: 75%;
}


.nav-list:hover {
    color: var(--clr5);
}

