/* vars */
:root {
    --clr1: #e3e3e3;
    --clr2: #ff7f00;
    --clr4: white;
    --clr5: #c2c1c1;

    /* mq variables */

    --large: 980px;
    --medium: 830px;
    --small: 680px;

    /* letter spacing */

    --normal-letter-spacing: 0.03em;
    --large-letter-spacing: 0.05em;
}